################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Tcx2Csv
/TcxChart/bin/Debug
/TcxChart/obj/Debug/TempPE
/TcxChart/obj/Debug
/Utilities/obj/Debug/Utilities.pdb
/Utilities/obj/Debug/Utilities.dll
/Utilities/obj/Debug/Utilities.csprojAssemblyReference.cache
/Utilities/obj/Debug/Utilities.csproj.FileListAbsolute.txt
/Utilities/obj/Debug/Utilities.csproj.CoreCompileInputs.cache
/Utilities/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Utilities/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Utilities/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Utilities/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Utilities/bin/Debug/Utilities.pdb
/Utilities/bin/Debug/Utilities.dll
/TcxDecode/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/TcxDecode/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/TcxDecode/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/TcxDecode/obj/Debug/TcxDecode.pdb
/TcxDecode/obj/Debug/TcxDecode.dll
/TcxDecode/obj/Debug/TcxDecode.csprojAssemblyReference.cache
/TcxDecode/obj/Debug/TcxDecode.csproj.FileListAbsolute.txt
/TcxDecode/obj/Debug/TcxDecode.csproj.CoreCompileInputs.cache
/TcxDecode/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/TcxDecode/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/TcxDecode/bin/Debug/TcxDecode.pdb
/TcxDecode/bin/Debug/TcxDecode.dll
/packages/HtmlAgilityPack.1.11.17
